@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

/* El estilo base para moviles */
body {
    background-color: #112935;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}

.header {
    display: flex;
    justify-content: space-between
}

.src-only {
    display: none;
}

.hide-mobile {
    display: none;
}

p{/*para ajustar el tamaño darle un tamaña y tamaño de la casilla de todos los p*/
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

.logo {/*ajustar el ancho y darle tamaño al margen del logo*/
    width: 90px;
    margin: 1em;
}

.options {
    color: inherit;
    text-decoration: none;
    position: relative;
    top: 30%;
    right: 95%;
    font-size: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}
.options i:last-child {
    font-size: 1.6rem;
}

/* Big area */
.big-hero img { /*ajustar ancho de la imagenes*/
    width: 150px;
}

.big-hero h2 { /*darle un margen al h2 ajustar el peso del color de las letreas, daler un espaciado y un margen arriba*/
    font-size: 1.875em;
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1em ;
}

.big-hero p { /*agrandar el tamaño y darle color alas letras*/
    font-size: 0.7em;;
    color: #D7DEE6;

}

/* Social links*/
.social-links{ /*quitarle los estilo quitarle el padding darle un margen arriba poner una display manejable*/
    list-style: none;/*darle una direccion hacia abajo y posicionar de forma centrada*/
    padding: 0;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center

}

.social-links li a{ /*daler color a las letras quitarle la decoracion a los li y a y ajustarle el tamaño*/
    color: #D7DEE6;
    text-decoration: none;
    font-size: 2.5em;
}


.green-area { /*color de fondo*/
    background-color: #0AC693; 
}


.post { /*agrandar el tamaño del padding y un margen ariba*/
    padding: 1em;
    margin-bottom: 2px;
}
.post h2 {/*darle texto mayuscula aumentra la fuerza del color aunmentarle el tamaño y aumentar el margen */
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
}

.post ul {/*quitarle el estilo al ul*/
    list-style: none;
}

.post ul li {/*ajustarle el tamaño minimo e tamaño maximo y darle un margen hacia ariba y un margen automatico a los lado*/
    min-height: 300px;
    max-width: 350px;
    margin: 5rem auto;
}

.post ul li article {
    overflow: hidden;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 2em ;
}

.post article img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.post article h3 {
    color: #0D5061;
    margin-top: 2em;
    padding: 0em 1rem;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post article p {
    color:#112935;
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

/* About */

.about{
    margin-top: 2em;
}

.about h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 2em;
}

.bio-info img{
   width: 200px;
}

.bio-info p{
    font-size: 16px;
    padding: 2em;
    text-align: left;
    line-height: 25px;
    letter-spacing: 2px;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 1em;
}

.contact * + * {
    margin-top: 1.5em;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea{
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 1em;
    width: 100%;
}

/* Decorando placeholder */

::-webkit-input-placeholder { 
    color: #D7DEE6; 
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }

.contact-form input[type=submit] {
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1rem;
}

.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}

footer{
    background-color: #0D5061;
    color:#D7DEE6;
}

footer .social-links {
    margin: 0;
}

.menu {
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

.menu {
    list-style: none;
    text-align: left;
    padding: 1em;
}
.menu li {
    display: block;
    padding: 0.5em;
    margin-top: 5px;
}

.menu li a {
    color: white;
    text-decoration: none;
    
}

/* Pesonalizando estilo para tablets*/

.social-links{
    box-sizing: content-box;
    margin: 1% 0% 2%;
 }
 .show-desktop i{
     font-size: 3em;
     margin: 1% 0% 5%;
     color: #0AC693;
}

.container>p{
    padding: 0%
}
.container>.social-links>li>a>i{
 display: flex;
 padding-inline: 15px; 
 padding-bottom: 15px;
 font-size: 2em ;
 box-sizing: border-box;
 margin: 10% 0% 35%; 
}

footer>.social-links>li>a>i{
    display: flex;
    padding-inline: 15px; 
    font-size: 2em ;
    margin: 35% 0% 0%; 
   }
   footer>p{
    padding-top: 0%;
   }

.contact-form>LABEL{
    font-weight: 900; /*darle mas fuerza de color ala tabla de contactar*/
}

section.about>div.container{
    
    padding-bottom: 2em; /*para darle separacion al formulario de contacto*/
}
.green-area .post li{ /*para hacercar mas las publicaciones y hacerlas un poco mas pequenas*/
    box-sizing: border-box;
    margin-top: 2rem ;
    margin-bottom: 2rem;
    padding-right: 15px;
    padding-left: 15px;
}



.post article p{
    line-height: 15px /*para hacer mas pequenos los espacion de las publicaciones*/
}

@media only screen and (min-width: 768px) {
  
    .post ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }


    .logo {
        width: 150px;
        margin: 5em;
    }

    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        margin-top: 1em;
    }



    #menu li a:hover{
        color:#ff0000;
        
        }

        h2{
            height: 50px;
        }

        .contact-form>LABEL{
            font-weight: 900;

        }

        .social-links{
            box-sizing: content-box;
            margin: 2% 0% 2%;
         }

         
           /*TODO: FALTA CSS */
           .green-area .post li{ /*para ajustar mejor las publicaciones*/
            box-sizing: border-box;
            margin: 5% 1%;
        }     
        .container>.header img{
            box-sizing: border-box;
            margin-top: 2em;
            margin-left: 2em;
            margin-right: 1em;
        }
        .green-area>.post h2{
            margin-bottom: 0%;
        }

        .big-hero h2{
            font-size: 1.8em;
        }
        } 

@media only screen and (min-width: 1024px) {

    h2{
        height: 50px;
    }
       /*TODO: FALTA CSS */

       .container>.header img{
        margin-top: 2em;
        margin-left: 5em;
    }


    .big-hero>.container img{
        margin-bottom: 2em;
    }

       .social-links{
           box-sizing: content-box;
           margin: 4% 0% 1%;
        }
        .show-desktop i{
            font-size: 3em;
            margin: 1% 0% 5%;
            color: #0AC693;
       }
       .social-links>li>a>i{
        display: flex;
        padding-inline: 30px; 
        font-size: 2em ;
        box-sizing: border-box;
        margin: 30% 0% 0%; 
    }
       
       #menu li a:hover{
        color:#ff0000;
        
        }

        section.about>div.container{
            display: grid; /*para formar celdas*/
            grid-template-columns: 1fr 1fr ;
            grid-gap: 50px;
            grid-template: auto;
            padding-bottom: 5em;
        }
        div.container>h2{
            grid-column: 1/3;
            grid-row: 1/1;
            margin: 1% auto 0%;
        }
        div.container>div.bio-info{
            grid-column: 1/2;
            grid-row: 2;
        }

        div.container>div.contact{
            grid-column: 2/3;
            grid-row: 2/2;
            
        }
        .contact-form>LABEL{
            font-weight: 900;

        }
        .contact-form>input[type=submit]{
            width: 35%; /*disminulle el tamano del boton*/
            font-weight: 100;
        }

        .green-area>.post h2{/*ajustando margen de el mensaje de publicacion*/
            margin-top: 2%;
            margin-bottom: 0%;
        }
        .green-area>.post li{/*ajustando margenes de las publicaciones*/
            margin: 1% 2% 0%
        }
        
        
}

@media only screen and (min-width: 1440px) {

    /*TODO: FALTA CSS */
    .container>.header img{
        margin-top: 2em;
    }


    .big-hero>.container img{
        margin-bottom: 2em;
    }
    
    .social-links{
        box-sizing: content-box;
        margin: 2% 0% 1%;
     }
  
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1440px;
    }


    #menu li a:hover{
        color:#ff0000; /*darle color alas letras*/
        }

        

        .post>h2{
        padding-bottom: 10px /*separacion de palabra*/
        }       

        .container>.header ul { /*ajustar el tamaños de inicio*/
            margin-top: 0%;
            margin-right: 50px;
            font-size: 30px;
        
        }
       
        }
        

        
        
